streamlit==1.37.0
rich==13.7.1

numpy==1.26.4
pillow==10.3.0
opencv-python-headless==4.10.0.84
scikit-learn==1.4.2
scipy==1.11.4
pandas==2.2.2
matplotlib==3.8.4

# PyTorch CPU wheels (รองรับ Python 3.11)
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
